
form{
        padding:0 0 15% 2%;
}

.quest{
    word-wrap: break-word;
}

.row{
    /* border-right: 1px grey solid;
    border-left: 1px grey solid; */
    /* display: flex;
    flex-direction: column; */
    border-bottom: 1px rgb(219, 216, 216) solid;

    padding:1%;
    margin-bottom: 2%;
}

button{
    margin: 3% 1% 3% 1%    ;
   
}

.btn{

    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

@media only screen and (max-width: 980px) {
    
    .btn{

        border-radius: 12px;
        margin:2% 7%;
    
     
       
    }

  }