<hr>
<div class="container">
    
    <h5 style="text-align:center" > Choose option</h5>
                <br>
    <div  class=" option_row row">
      <div id="options">
        <div  id="add_question" class=" col-md-6 col-6 option_btn">
            <button type="button" class="btn btn-info">Add Questions</button>
       </div>
        <br> <br>
        <div class="col-md-6  col-6">
           <button type="button" class=" btn btn-primary  ">Start Quiz</button>
        </div>
    </div>
   </div>


</div>
<hr>

<!-- style="border:1px msolid red" -->