*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x:hidden;
    
}

#welcome{
    text-align:center;
    padding:10px;
}

@media only screen and (max-width: 980px) {
    
    * {
            font-size: medium;
    }
  }