
<div class="container">
   

    
    
        <!-- <div class="row" *ngFor='let list of quiz' >
            
            <div class="col-md-6" >
                 <p class="quest">{{list.question}}</p>
            </div>
          
        <div class="ans  col-md-6" > -->

              

            <div class="row" *ngFor='let list of quiz' >
            
                <div class="col-md-6" >
                     <p class="quest">{{list.question}}</p>
                </div>
              
            <div class="ans  col-md-6" >



                <div  style="color:red">

                    <div>
                        <p>Selected answer</p>
                      <p *ngIf='_selected(list.id)'>{{selected}}</p>
                   
                    </div>

                    
                    <div>
                       <p>Correct answer</p>
                      
                       <p>{{list.correct}}</p>


                   </div>
             </div>






             




         






























             <!-- <div *ngIf='list.a==incre(list.id) else con'>

                <div *ngIf ='list.a == list.correct fail'>
                    <p [class]='pass'><span>a)</span> {{list.a}}</p>
                </div>

                <ng-template #fail>
                    <div>
                        <p [class]='fail' ><span>a)</span> {{list.a}}</p>
                   </div>
               </ng-template>

             </div>

            <ng-template *ngIf='list.a!=incre(list.id) && list.a == list.correct;' #con>
                    <div>
                        <p [class]='green' ><span>a)</span> {{list.a}}</p>
                   </div>
            </ng-template> -->

              
    






          
           
            </div>
            
        </div> 
    
        

        <div class="row">
            
            <div class=" btn col-md-4 col-12">
                
    
    
                <button routerLink='option' type="button" class="btn btn-success">Home</button>
    
                <br> <br>
            </div>
    
        </div> 












<!--     
        <div class="row">
            
            <div class=" btn col-md-4 col-12">
                
                <button style="color:white" type="button" class="btn btn-warning" (click)='cancel()'>Cancel</button>
    
    
                <button type="submit" class="btn btn-success">Submit</button>
    
                <br> <br>
            </div>
    
        </div> -->
    

    
    </div>
    
    
    
    
    <!-- <ng-content
    
    ></ng-content>  -->