
<div class="container">
    
    <h5  style="text-align:center" > Choose option</h5>
                <br>
    <div  class=" option_row row">
      <div id="options">
        <div  id="add_question" class=" col-md-6 col-6 option_btn">
            <button  type="button" class="btn btn-info" (click)='review_btn()' [disabled]='review'>Quiz review</button>
       </div>
        <br> <br>
        <div class="col-md-6  col-6">
           <button  type="button" class=" btn btn-primary  " (click)='start()'>Start Quiz</button>
        </div>
    </div>
   </div>
      
<hr>

<h6 id="instruction">Please select options to start with your quiz. The quiz can not be review unless completed!</h6>


</div>



